<h1>Movie Title</h1>
<br>
<div class="row">
    <div class="col-md-6 col-xs-8">
        <iframe src="https://www.youtube.com/embed/lcktJMlVx1I" title="Flash FM - GTA Vice City Stories" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 col-xs-4">
        <p class="lead">This is placeholder for the movie plot</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Stars</div>
                    <ul class="list-group list-group-flush" *ngFor="let star of stars">
                        <li class="list-group-item">{{star}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Directors</div>
                    <ul class="list-group list-group-flush"*ngFor="let director of directors">
                        <li class="list-group-item">{{director}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Genres</div>
                    <ul class="list-group list-group-flush"*ngFor="let genre of genres">
                        <li class="list-group-item">{{genre}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<hr>
<br>
<div class="row">
    <h1>Actors
    </h1>
    <br>
    <div class="col-md-12 text-center">
        <app-details-actors></app-details-actors>
    </div>
    <br>
<div class="text-center">
    <a routerLink="/details/actors/{{movieId}}" class="btn btn-warning">View all Actors</a>
</div>
</div>

<hr>
<br>
<div class="row">
    <h1>Reviews
    </h1>
    <br>
    <div class="col-md-12 text-center">
        <app-details-reviews></app-details-reviews>
    </div>
    <br>
    <div class="text-center">
        <a routerLink="/details/reviews/{{movieId}}" class="btn btn-warning">View all Reviews</a>
    </div>

</div>
<hr>
<br>
<div class="row">
    <h1>Similar Movies
    </h1>
    <br>
    <div class="col-md-12">
        <app-details-movies></app-details-movies>
    </div>
    <div class="text-center">
        <a routerLink="/details/movies/{{movieId}}" class="btn btn-warning">View more</a>
    </div>
   

</div>